/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

.content {
background-color: rgba(44, 21, 109, 0.6);
background: rgba(44, 21, 109, 0.6);
padding: 20px;
margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
border:solid 0px #000000;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright:5px;
-moz-border-radius-bottomleft:5px;
-moz-border-radius-bottomright:5px;
-webkit-border-top-left-radius:5px;
-webkit-border-top-right-radius:5px;
-webkit-border-bottom-left-radius:5px;
-webkit-border-bottom-right-radius:5px;
border-top-left-radius:5px;
border-top-right-radius:5px;
border-bottom-left-radius:5px;
border-bottom-right-radius:5px;
-moz-box-shadow:5px 5px 5px #000000;
-webkit-box-shadow:5px 5px 5px #000000;
box-shadow:5px 5px 5px #000000;
}

/* === Circular Link === */
.circle-link {
    position: absolute;
    left: 50%;
    bottom: 90px;
    margin-left: -50px;
    text-align: center;
    line-height: 100px;
    width: 100px;
    height: 100px;
    background: #000 url(../images/noise.png) repeat;
    color: #666;
    font-size: 25px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation: fadeInRotate 1s linear 23s backwards;
    -moz-animation: fadeInRotate 1s linear 23s backwards;
    -ms-animation: fadeInRotate 1s linear 23s backwards;
    animation: fadeInRotate 1s linear 23s backwards;
    -webkit-transform: scale(1) rotate(0deg);
    -moz-transform: scale(1) rotate(0deg);
    -o-transform: scale(1) rotate(0deg);
    -ms-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
}

.circle-link:hover { background: #f77f00 url(../images/noise.png) repeat; color: #222; }

